- const watchingAnime = []
- const completeAnime = []
- const holdAnime = []
- const droppedAnime = []
- const planAnime = [] 
- user.animeList.map(anime => {
-   if(anime.userStatus === 'Watching') {
-     watchingAnime.push(anime);
-   } else if(anime.userStatus === 'Completed') {
-     completeAnime.push(anime);
-   } else if(anime.userStatus === 'On Hold') {
-     holdAnime.push(anime);
-   } else if(anime.userStatus === 'Dropped') {
-     droppedAnime.push(anime);
-   } else {
-     planAnime.push(anime);
-   }     
- }); 

- const toTitleCase = (phrase) => {
-  return phrase.toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
- };

mixin showStat(targetId, name, code, color, value)
  p
    strong= name
    a(href=`#${targetId}` class="mx-1 badge badge-" + color +" px-3")= code
    |  : #{value}

mixin tableContent(idValue, colorValue, icon, animeData, userStatusData)
  thead(id=`${idValue}` class=`bg-${colorValue} text-white`)
    tr.text-center
      th.w-10 #
      th.w-50.text-left Title
      th.w-20 Episodes
      th.w-10 Rating
      th.w-10 
  tbody.text-center
    each anime, index in animeData
      tr
        td=(index+1)
        td.text-left(data-status= toTitleCase(idValue.replace(/-/g, ' ')))
          a.text-white.font-weight-bold(href="/anime/" + anime.kitsuId)=anime.title
        td  
          a(class=`mx-1 badge badge-${colorValue}`)
            i(class=`fas fa-${icon}`)
          | #{anime.watchedEpisodes}/ #{anime.totalEpisodes}
        td= anime.rating
        include ./includes/edit-buttons

mixin episodeData()
  td  
    a.badge.badge-primary(href="#")
      i.fas.fa-plus
    |  #{anime.watchedEpisodes} / #{anime.totalEpisodes}

include ../includes/head
body
  include ../includes/navbar
  //- USER PROFILE SECTION
  section#user-profile.bg-dark.py-2
    .container
      .row.justify-content-between
        .col-md-3.text-center
          if user.avatar
            img.img-fluid.border.border-secondary.rounded(src="data:image/png;base64,"+user.avatar.toString('base64'))
          else
            img.img-fluid.border.border-secondary.rounded(src="/images/avatar-placeholder.png")
          form#upload-form(action="/user/avatar?_csrf="+csrfToken method="post" enctype="multipart/form-data" hidden)
            .custom-file
              input.custom-file-input(type="file" name="avatar")
              label.custom-file-label.bg-dark.text-left.text-white(for="myfile") Upload Image
              small.form-text.text-light Max 5MB
            input.btn.btn-success.btn-block(type="submit" value="Confirm")
          button#change-avatar-button.btn.btn-block.btn-secondary.mt-2 Change Avatar
        .col-md-9.text-white
          h1.mb-4= user.name
            if login
              a.ml-4.btn.btn-danger(href="/user/logout") LogOut
          .row.p-3.justify-content-between
            .col-md-5
              h4 Anime Statistics
              p.lead
                strong Total Anime  
                a.badge.badge-info.px-3(href="#anime-list") 
                  | A
                |   : 
                =user.animeList.length
                +showStat('watching' ,'Watching', 'W', 'primary', watchingAnime.length)
                +showStat('completed', 'Completed', 'C', 'success', completeAnime.length)
                +showStat('plan-to-watch','Plan To Watch', 'P', 'secondary', planAnime.length)
                +showStat('on-hold','On Hold', 'H', 'warning', holdAnime.length)
                +showStat('dropped','Dropped', 'D', 'danger', droppedAnime.length)

            .col-md-6
              h4 Recently Updated Anime
              each anime in user.animeList.slice(0,5)
                a.media.text-light.btn.btn-outline-secondary.p-0.text-left.my-0(href='/anime/' + anime.kitsuId)
                  img.mr-3.align-self-center.border.border-secondary(src=anime.imgUrl height='70' width='55')
                  .media-body.text-white.pt-1
                    h6
                      = anime.title
                      br
                      small
                        strong Status: 
                        if anime.userStatus === 'Watching'
                          span.badge.badge-primary= anime.userStatus
                        else if anime.userStatus === 'Completed'
                          span.badge.badge-success= anime.userStatus
                        else if anime.userStatus === 'On Hold'
                          span.badge.badge-warning= anime.userStatus
                        else if anime.userStatus === 'Dropped'
                          span.badge.badge-danger= anime.userStatus
                        else
                          span.badge.badge-secondary= anime.userStatus
                      small.float-right.pr-3
                        strong Rating: #{anime.rating}
                      br
                      small
                        strong Episodes: #{anime.watchedEpisodes} / #{anime.totalEpisodes}

  //- ANIME LIST SECTION
  section#user-profile.py-2
    .container
      .row
        .col
          .card.bg-dark.my-2
            .card-header.text-light
              h4#anime-list Anime List
            table.table.table-striped.table-dark
              //- WATCHING 
              +tableContent('watching', 'primary', 'minus-circle', watchingAnime.sort((a,b) => (a.title > b.title) ? 1 : -1))
              +tableContent('completed', 'success', 'check-circle', completeAnime.sort((a,b) => (a.title > b.title) ? 1 : -1))
              +tableContent('on-hold', 'warning', 'pause', holdAnime.sort((a,b) => (a.title > b.title) ? 1 : -1))
              +tableContent('dropped', 'danger', 'stop', droppedAnime.sort((a,b) => (a.title > b.title) ? 1 : -1))
              +tableContent('plan-to-watch', 'secondary', 'paper-plane', planAnime.sort((a,b) => (a.title > b.title) ? 1 : -1))

  //- UPDATE ANIME MODAL
  #updateAnimeModal.modal.fade
    .modal-dialog
      .modal-content.bg-dark.text-light
        .modal-header
          h5.modal-title Update
          button.close.text-light(data-dismiss='modal')
            span &times;
        .modal-body
          form#update-form(action='/anime/update' method="POST")
            input(type="hidden" name="_csrf", value=csrfToken)
            .form-group
              label(for='title') Title
              input#anime-title.form-control.bg-dark.text-white(type='text' name="title" disabled)
            .form-group
              label(for='userStatus') Status
              select#status.form-control.bg-dark.text-white()
                option#watching(value="Watching") Watching
                option#complete(value="Completed") Completed
                option#hold(value="On Hold") On Hold
                option#dropped(value="Dropped") Dropped
                option#plan(value="Plan To Watch") Plan To Watch
            input#status-send(name="userStatus" type="hidden")
            .form-group
              label(for='rating') Rating
              select#rating-select.form-control.bg-dark.text-white(name="rating")
                option(value="")
                option(value="1") 1 - Appaling
                option(value="2") 2 - Horrible
                option(value="3") 3 - Very Bad
                option(value="4") 4 - Bad
                option(value="5") 5 - Average
                option(value="6") 6 - Fine
                option(value="7") 7 - Good
                option(value="8") 8 - Very Good
                option(value="9") 9 - Great
                option(value="10") 10 - MasterPiece
            .form-group
              | No. of Episodes Watched:
              input#episode-number.d-inline.form-control.bg-dark.text-white(type='number' name="watchedEpisodes")
              small#small-total-episodes.form-text
              //- | / #{anime.data.attributes.episodeCount}
            //- input#total-episodes(type='hidden' name="totalEpisodes" value='')
            //- input#anime-status(type='hidden' value='')
            input#anime-kitsuId-update(type='hidden' name="kitsuId" value='')
            //- input(type='hidden' name="imgUrl" value=anime.data.attributes.posterImage.original)
            input.btn.btn-secondary.btn-block(type='Submit' value="Submit")

  //- COMFIRM REMOVE MODAL
  #confirmRemoveModal.modal.fade
    .modal-dialog
      .modal-content.bg-dark.text-light
        .modal-header
          h5.modal-title Remove This Entry From List?
          button.close.text-light(data-dismiss='modal')
            span &times;
        .modal-body
          form#confirm-remove-form(action='/anime/delete' method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            input#anime-kitsuId-delete(type='hidden' name="kitsuId" value='')
            input.form-control(type='submit' value="Confirm").btn.mr-1.btn-sm.btn-danger

  include ../includes/footer
  include ../includes/scripts
  script(src="/js/upload-form.js")
  script(src="/js/update-anime.js")
  script.
    $('[data-toggle="tooltip"]').tooltip();
  

              
  