- const watchingAnime = []
- const completeAnime = []
- const holdAnime = []
- const droppedAnime = []
- const planAnime = [] 
- user.animeList.map(anime => {
-   if(anime.userStatus === 'Watching') {
-     watchingAnime.push(anime);
-   } else if(anime.userStatus === 'Completed') {
-     completeAnime.push(anime);
-   } else if(anime.userStatus === 'On Hold') {
-     holdAnime.push(anime);
-   } else if(anime.userStatus === 'Dropped') {
-     droppedAnime.push(anime);
-   } else {
-     planAnime.push(anime);
-   }     
- }); 

mixin showStat(name, code, color, value)
  p
    strong= name
    a(href="#watching" class="badge badge-" + color +" px-3")= code
    |  : #{value}

mixin tableContent(idValue, colorValue, icon, animeData)
  thead(id=`${idValue}` class=`bg-${colorValue} text-white`)
    tr.text-center
      th.w-10 #
      th.w-50.text-left Title
      th.w-20 Episodes
      th.w-10 Rating
      th.w-10 
  tbody.text-center
    each anime, index in animeData
      tr
        td=(index+1)
        td.text-left 
          a.text-white.font-weight-bold(href="/anime/" + anime.kitsuId)=anime.title
        td  
          a(class=`badge badge-${colorValue}`)
            i(class=`fas fa-${icon}`)
          |  #{anime.watchedEpisodes} / #{anime.totalEpisodes}
        td= anime.rating
        include ./includes/edit-buttons

mixin episodeData()
  td  
    a.badge.badge-primary(href="#")
      i.fas.fa-plus
    |  #{anime.watchedEpisodes} / #{anime.totalEpisodes}

include ../includes/head
body
  include ../includes/navbar
  //- USER PROFILE SECTION
  section#user-profile.bg-dark.py-2
    .container
      .row.justify-content-between
        .col-md-4
          img.img-fluid.border.border-secondary.rounded(src='/images/image1.jpg' alt='Image')
          a.btn.btn-block.btn-secondary.mt-2(href='#') Change Avatar
        .col-md-8.text-white
          h1.mb-4= user.name
            if login
              a.ml-4.btn.btn-danger(href="/user/logout") LogOut
          .row.p-3.justify-content-between
            .col-md-5
              h4 Anime Statistics
              p.lead
                strong Total Anime  
                a.badge.badge-info.px-3(href="#anime-list") 
                  | A
                |   : 
                =user.animeList.length
                +showStat('Watching', 'W', 'primary', watchingAnime.length)
                +showStat('Completed', 'C', 'success', completeAnime.length)
                +showStat('Plan To Watch', 'P', 'secondary', planAnime.length)
                +showStat('On Hold', 'H', 'warning', holdAnime.length)
                +showStat('Dropped', 'D', 'danger', droppedAnime.length)

              a.btn.btn-outline-info.btn-block(href="#") 
                i.fas.fa-plus
                |   Add New Anime

            .col-md-6
              h4 Recently Updated Anime
              each anime in user.animeList.slice(0,5)
                a.media.text-light.btn.btn-outline-secondary.p-0.text-left.my-0(href='/anime/' + anime.kitsuId)
                  img.mr-3.align-self-center.border.border-secondary(src=anime.imgUrl height='70' width='55')
                  .media-body.text-white.pt-1
                    h6
                      = anime.title
                      br
                      small
                        strong Status: 
                        if anime.userStatus === 'Watching'
                          span.badge.badge-primary= anime.userStatus
                        else if anime.userStatus === 'Completed'
                          span.badge.badge-success= anime.userStatus
                        else if anime.userStatus === 'On Hold'
                          span.badge.badge-warning= anime.userStatus
                        else if anime.userStatus === 'Dropped'
                          span.badge.badge-danger= anime.userStatus
                        else
                          span.badge.badge-secondary= anime.userStatus
                      small.float-right.pr-3
                        strong Rating: #{anime.rating}
                      br
                      small
                        strong Episodes: #{anime.watchedEpisodes} / #{anime.totalEpisodes}

  //- ANIME LIST SECTION
  section#user-profile.py-2
    .container
      .row
        .col
          .card.bg-dark.my-2
            .card-header.text-light
              h4#anime-list Anime List
            table.table.table-striped.table-dark
              //- WATCHING 
              +tableContent('#watching', 'primary', 'minus-circle', watchingAnime)
              +tableContent('#completed', 'success', 'check-circle', completeAnime)
              +tableContent('#on-hold', 'warning', 'pause', holdAnime)
              +tableContent('#dropped', 'danger', 'stop', droppedAnime)
              +tableContent('#plan-to-watch', 'secondary', 'paper-plane', planAnime)

  include ../includes/footer
  include ../includes/scripts

              
  